@tailwind base;
@tailwind components;

/** 
 * TODO: add an accent, and maybe multiple themes,
 * not using angular should be advised with all colors.
 */

.theme-light {
  --primary: hsl(0, 0%, 100%);
  --secondary: hsl(0, 0%, 5%);
}
.theme-dark {
  --primary: hsl(0, 0%, 5%);
  --secondary: hsl(0, 0%, 100%);
}

@tailwind utilities;
